name: Style
on:
  workflow_dispatch: {}
permissions: read-all
concurrency:
  group: style-${{ github.ref }}
  cancel-in-progress: true
jobs:
  code_style:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Setup Python with uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        cache-dependency-glob: uv.lock
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: 'uv sync --no-sources --extra dev

        '
    - name: Lint with ruff
      run: 'uvx ruff format --check --line-length 120 src/ tests/

        uvx ruff check src/ tests/

        uvx ruff check --select I src/ tests/

        '
    - name: Lint with mypy
      run: 'uvx mypy --check-untyped-defs  --disable-error-code=import-untyped --disable-error-code=import-not-found
        src/ tests/ --exclude tests/data/

        '
